/*  Mobile (max-width: 600px) */
@media (max-width: 600px) {
  body {
    max-width: 100%;
    padding: 0 15px;
  }
  section{
    margin-top: 36px;
  }
  h2 {
    font-size: 51px;
  }
  .btn {
    width: 320px;
  }
  nav {
    align-items: center;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    transition: left 0.3s ease;
  }
  .nav-links.active {
    left: 40%;
  }
  .toggle-btn {
    display: block;
  }

  /* hero section  */
  .hero {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    gap: 30px;
    margin: auto;
    overflow: hidden;
  }
  .quality{
    position: absolute;
    height: 53px;
    right: 8%;
    top: 85%;
    font-size: 14px;
  }
  .quality h3{
    font-size: 14px;
  }
  .hero_left_site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero_left_site p {
    width: 316px;
  }
  .des {
    font-size: 14px;
  }
  .title {
    font-size: 51px;
    padding: 0;
  }
  .rating {
    left: 25%;
    top: 80%;
    transform: translateY(-50%);
  }
  .hero_right_side {
    padding-right: 0;
    margin-bottom: 0;
  }
  .brand{
    margin-top: 20px;
  }

  .baner_img {
    width: 100%;
    height: auto;
  }

  .brand {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }

  #service {
    grid-template-columns: repeat(2  ,1fr);
  }
  

  #benefit {
    flex-direction: column;
    text-align: center;
  }

  #benefit img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  #stars {
    flex-direction: column;
    align-items: center;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .products {
    flex-direction: column;
    gap: 20px;
  }

  .footer_content {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }

  .subscribe {
    width: 100%;
  }
}

/*  Tablet (601px - 992px) */
@media (min-width: 601px) and (max-width: 992px) {
  nav {
    padding: 15px 40px;
  }

  .hero {
    flex-direction: column;
    padding: 30px;
    gap: 40px;
  }

  .baner_img {
    width: 80%;
    height: auto;
  }
  #service{
    grid-template-columns: repeat(2,1fr);
  }
  #benefit {
    flex-direction: column;
  }

  #stars {
    flex-direction: column;
    align-items: center;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .products {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .footer_content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}
